html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 900px;
  box-sizing: border-box;
  background: linear-gradient(280deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body > * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
